@{
    ViewData["Title"] = "Subscriptions Overview";
}

<h1>Subscriptions Overview</h1>

@*<div class="d-flex flex-row">
    <a class="btn btn-success" asp-controller="Subscriptions" asp-action="Create">Create event</a>
</div>*@

<table class="table">
    <tr>
        <th>
            Name
        </th>        
        <th>
            Email
        </th>        
        <th>
            Notifications
        </th>
        <th>
            Event name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.UserEmail
            </td>            
            <td>
                @item.Notifications
            </td>
            <td>
                @item.EventName
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-success" asp-controller="Subscriptions" asp-action="CreateNotification" asp-route-id="@item.SubscriptionId">Add Notification</a>
                    <a class="btn btn-primary" asp-controller="Subscriptions" asp-action="Edit" asp-route-id="@item.SubscriptionId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Subscriptions" asp-action="Delete" asp-route-id="@item.SubscriptionId">Delete</a>
                </div>
            </td>
        </tr>
    }
</table>

